/* styles/globals.css */
@import "~bootstrap/dist/css/bootstrap.min.css";

main{
    margin-top: 80px;
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    text-align: center;
  }